@using Data.Enums
@model EventHub.Models.InputModels.EventInputModel;

<section>
    <h1>Create Event</h1>
    <section>
        <form asp-area="EventOrganizer" asp-controller="Events" asp-action="Add" method="post">
            <section>
                <label asp-for="@Model.Title"></label>
                <input asp-for="@Model.Title" />
                <span asp-validation-for="@Model.Title"></span>
            </section>

            <section>
                <label asp-for="@Model.Description"></label>
                <input asp-for="@Model.Description" />
                <span asp-validation-for="@Model.Description"></span>
            </section>

            <section>
                <label asp-for="@Model.StartTime"></label>
                <input type="datetime-local" asp-for="@Model.StartTime" />
                <span asp-validation-for="@Model.StartTime"></span>
            </section>

            <section>
                <label asp-for="@Model.Location"></label>
                <input type="datetime-local" asp-for="@Model.Location" />
                <span asp-validation-for="@Model.Location"></span>
            </section>

            <section>
                <label asp-for="@Model.TargetAudience"></label>
                <select asp-for="@Model.TargetAudience" class="form-control"
                        asp-items="Html.GetEnumSelectList<TargetAudience>()"></select>
            </section>

            <section>
                <label asp-for="@Model.EventType"></label>
                <select asp-for="@Model.EventType" class="form-control"
                        asp-items="Html.GetEnumSelectList<EventType>()"></select>
            </section>

            <button type="submit">Create Event</button>
        </form>
    </section>
</section>