@model Data.Models.Event;

<section>
    <h1>Event's Details</h1>

    <a asp-area="EventOrganizer" asp-controller="Events" asp-action="Edit" asp-route-eventId="@Model.Id">Edit</a>

    <a asp-area="EventOrganizer" asp-controller="Events" asp-action="Delete" asp-route-eventId="@Model.Id">Delete</a>

    <h5>@Model.Title</h5>

    <p>@Model.Description</p>

    <p>@Model.StartTime</p>

    <p>@Model.Location</p>

    <p>@Model.TargetAudience</p>

    <p>@Model.EventType</p>
</section>