@using EventHub.Models.ViewModels
@model RequestDetailsViewModel

<section class="request-details">
    <h1>Request Details</h1>

    <dl>
        <dt>First Name</dt>
        <dd>@Model.UserFirstName</dd>

        <dt>Last Name</dt>
        <dd>@Model.UserLastName</dd>

        <dt>Email</dt>
        <dd>@Model.UserEmail</dd>

        <dt>Date of Birth</dt>
        <dd>@Model.UserDateofBirth.ToString("dd-MM-yyyy")</dd>

        <dt>Reason for Request</dt>
        <dd>@Model.RequestDescription</dd>
    </dl>

    <div class="action-buttons">
        <a asp-area="Admin" asp-controller="Requests"
           asp-action="ApproveRequest"
           asp-route-userId="@Model.UserId"
           class="btn btn-success">
            Approve
        </a>

        <a asp-area="Admin"
           asp-controller="Requests"
           asp-action="RejectRequest"
           asp-route-userId="@Model.UserId"
           class="btn btn-danger">
            Reject
        </a>
    </div>
</section>