@using System.Security.Claims
@model Data.Models.Event;

<section>
    <h1>Event's Details</h1>
    @{
        var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
        if(Model.Participants.Where(u => u.UserId == userId).Any())
        {
            <a asp-area="User" asp-controller="Events" asp-action="UnParticipate" asp-route-eventId="@Model.Id">Unparticipate</a>
        }
        else
        {
            <a asp-area="User" asp-controller="Events" asp-action="Participate" asp-route-eventId="@Model.Id">Participate</a>
        }
    }

    <a asp-area="User" asp-controller="Events" asp-action="Review" asp-route-eventId="@Model.Id">Give a review</a>

    <a asp-area="User" asp-controller="Events" asp-action="Report" asp-route-eventId="@Model.Id">Report</a>

    <h5>@Model.Title</h5>

    <p>@Model.Description</p>

    <p>@Model.StartTime</p>

    <p>@Model.Location</p>

    <p>@Model.TargetAudience</p>

    <p>@Model.EventType</p>
</section>